& {
  flex: 1 1 auto;
  width: calc(100% - var(--padding) / 2);
  overflow-x: hidden;
  overflow-y: auto;
}

h1 {
  margin-top: 0;
  color: white;
  font-size: 1.3em;
}

p {
  margin: var(--padding) 0;
  padding: var(--box-padding);
  background: white padding-box;
  border-right: solid calc(var(--padding) / 2) transparent;

  li {
    padding: 0 var(--padding);
    list-style-type: none;

    &:not(:first-child) {
      padding-top: var(--padding);
    }

    > button {
      width: 100%;
    }
  }

  .prime-progress {
    position: relative;
    height: 1.4em;
    margin: var(--padding) 0;
    overflow: hidden;
    background-image: linear-gradient(to left, black 50%, transparent 50%);
    background-position: right calc((var(--prime-progress) - 1) * 100%) bottom 0;
    background-size: 200%;
    border: 0.2em solid black;
  }
}
