---
---

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

header {
  width: 100%;
  background: black;
  color: grey;
  text-align: center;
}

header > h1 {
  margin: 0.1em;
}

main {
  --horizontal-spacing: 1em;
  --padding: 10px;
  --border-width: 3px;
  background: white;
  flex: 1 0;
  display: flex;
  padding: calc(var(--horizontal-spacing) / 2);
  overflow: hidden;
  > * {
    background: black;

    flex: 3 1 auto;
    margin: calc(var(--horizontal-spacing) / 2);
    overflow: hidden;
  }
}

button {
  @import 'mixin/nice-button';
  @include nice-button($border-width: var(--border-width));
}

.interaction-panel {
  --panel-width: 20em;
  --box-padding: 0.6em 0.3em;

  flex: 0 0 var(--panel-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--padding)/2);

  & > * {
    margin: calc(var(--padding)/2);
    overflow: hidden;
  }
}

.interaction-control {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  > button {
    flex: 0 1;
    position: relative;
    font-size: 2em;
  }
}

.interaction-instructions {
  @import "instructions";
}

.interaction-interface {
  @import "interface";
}

.display-panel {
  @import "display";
}

.show-only-selected > *:not(.current-stage) {
  display: none;
}

.error-in-field {
  background: #ffb7b7 !important;
  color: #850002 !important;
}