---

stages:
  - intro
  - image-load
---

* {
  box-sizing: border-box;
}

@mixin nice-button($psuedo: '') {

  pointer-events: none;

  &#{$psuedo} {
    pointer-events: auto;
    border: 3px solid grey;
    background: white;
    color: grey;
    font: inherit;
  }

  &:not([disabled]) {
    &#{$psuedo} {
      color: black;
    }
    &:hover#{$psuedo} {
      background-color: black;
      color: grey;
      cursor: pointer;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

header {
  width: 100%;
  background: black;
  color: grey;
  text-align: center;
}

header > h1 {
  margin: 0.1em;
}

main {
  --horizontal-spacing: 1em;
  --padding: 10px;
  background: white;
  flex: 1 0;
  display: flex;
  padding: calc(var(--horizontal-spacing) / 2);
  overflow: hidden;
}

main > * {
  background: black;

  flex: 3 0 auto;
  margin: calc(var(--horizontal-spacing) / 2);
  overflow: hidden;
}

button {
  @include nice-button;
}

.interaction-panel {
  padding: calc(var(--padding)/2);

  & > * {
    margin: calc(var(--padding)/2);
    overflow: hidden;
  }
}

.interaction-panel {
  --panel-width: 20em;
  flex: 0 0 var(--panel-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-panel {
  --show-stage: 0;
  --stages-to-show-at-a-time: 2;
  --position-of-selected-stage: 0.5;

  --arrow-size: 20px;
  --padding-between-stages: calc(var(--padding) * 1.1);
  --spacing-between-stages: calc(
    var(--arrow-size) + 2 * var(--padding-between-stages)
  );

  transform: translateY(
    calc(
      -1 / var(--stages-to-show-at-a-time) *
        (
          100% - 2 * var(--padding) + var(--spacing-between-stages)
        ) * (var(--show-stage) - var(--position-of-selected-stage))
    )
  );
  transition: transform 0.5s linear;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  height: 100%;
  overflow: visible;

  > .current-stage {
    background: #ddd;
  }

  > * {
    --height: calc(
        100% / var(--stages-to-show-at-a-time) - var(--spacing-between-stages) * (1 -
              1 / var(--stages-to-show-at-a-time))
      );

    flex: 0 0 var(--height);
    transition-property: flex-basis;
    transition-duration: inherit;
    transition-timing-function: inherit;

    font-size: 2em;
    max-height: var(--height);
    position: relative;
    width: 100%;

    background: grey;
    overflow: visible;

    > * {
      margin: 1em auto;
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: var(--spacing-between-stages);
      @include nice-button(':after');
      &:after {
        position: absolute;
        bottom: calc(
          var(--padding-between-stages) - var(--spacing-between-stages)
        );
        left: calc(50% - var(--arrow-size) / 2);

        display: block;
        width: var(--arrow-size);
        height: var(--arrow-size);
        font-size: var(--arrow-size);
        line-height: var(--arrow-size);

        content: "⯆";
      }
    }
  }
}

.interaction-instructions {
  flex: 1 1 15em;
  overflow-y: auto;
  overflow-x: hidden;
}

.interaction-interface {
  --side-length: calc(var(--panel-width) - 2 * var(--padding));

  flex: 0 0 var(--side-length);
  width: calc(var(--panel-width) - 2 * var(--padding));
  margin-left: auto;
  margin-right: auto;

  background: white;
}


.interaction-control {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  > button {
    flex: 0 1;
    position: relative;
    font-size: 2em;
  }
}

.interaction-instructions {
  @import "instructions";
}

.interaction-interface {
  @import "interface";
}

.display-panel {
  @import "display";
}

.show-only-selected > *:not(.current-stage) {
  display: none;
}


{% for stage in page.stages %}
.display-panel > *:nth-child({{ forloop.index }}) {
  {% include_relative stages/{{stage}}/style %}
}
{% endfor %}
