& {
  --show-stage: 0;
  --stages-to-show-at-a-time: 2;
  --position-of-selected-stage: 0.5;

  --arrow-size: 20px;
  --padding-between-stages: calc(var(--padding) * 1.1);
  --spacing-between-stages: calc(
    var(--arrow-size) + 2 * var(--padding-between-stages)
  );

  transform: translateY(
    calc(
      -1 / var(--stages-to-show-at-a-time) *
        (
          100% - 2 * var(--padding) + var(--spacing-between-stages)
        ) * (var(--show-stage) - var(--position-of-selected-stage))
    )
  );
  transition: transform 0.5s linear;
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  height: 100%;
  overflow: visible;

  > .current-stage {
    background-color: #ddd;
  }

  > * {
    --height: calc((100% + var(--spacing-between-stages))/ var(--stages-to-show-at-a-time));
    flex: 0 0 var(--height);
    transition-property: flex-basis;
    transition-duration: inherit;
    transition-timing-function: inherit;

    font-size: 2em;
    max-height: var(--height);
    position: relative;
    width: 100%;

    background: grey content-box;
    overflow: visible;

    > * {
      margin: 1em auto;
      display: block;
    }

    &:not(:last-child) {
      --border-width: 2px;
      @import 'mixin/nice-button';
      @include nice-button(':after', var(--border-width));

      border: 0px solid transparent;
      border-bottom-width: var(--spacing-between-stages);
      &:after {
        position: absolute;
        box-sizing: content-box;
        top: calc(100% + var(--padding-between-stages) - var(--border-width));
        left: calc(50% - var(--arrow-size) / 2);

        display: block;
        width: var(--arrow-size);
        height: var(--arrow-size);
        font-size: var(--arrow-size);
        line-height: var(--arrow-size);
        text-align: center;

        content: "⯆";
      }
    }
  }
}

.image-number {
  font-size: 0.35em;
  line-height: 0.8em;
  font-weight: bold;
  text-align: center;
  white-space: pre;
}
