& {
  --show-stage: 0;
  --stages-to-show-at-a-time: 2;
  --position-of-selected-stage: 0.5;
  --arrow-size: 20px;
  --padding-between-stages: calc(var(--padding) * 1.1);
  --spacing-between-stages:
    calc(
      var(--arrow-size) + 2 * var(--padding-between-stages)
    );

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--padding);
  overflow: visible;
  transform:
    translateY(
      calc(
        -1 / var(--stages-to-show-at-a-time) *
        (
          100% - 2 * var(--padding) + var(--spacing-between-stages)
        ) * (var(--show-stage) - var(--position-of-selected-stage))
      )
    );
  transition: transform 0.5s linear;
  pointer-events: none;

  > .current-stage {
    background-color: #ddd;
  }

  > * {
    --height: calc((100% + var(--spacing-between-stages)) / var(--stages-to-show-at-a-time));

    position: relative;
    display: flex;
    flex: 0 0 var(--height);
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: var(--height);
    max-height: var(--height);
    margin: 0 auto;
    overflow: visible;
    font-size: 2em;
    text-align: center;
    background: grey content-box;
    transition-timing-function: inherit;
    transition-duration: inherit;
    transition-property: flex-basis;

    > * {
      margin: 0 auto;
      border: 1em solid transparent;

      &:not(.auto-resize) {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &:not(:last-child) {
      --border-width: 2px;

      @import 'mixin/nice-button';

      @include nice-button(':after', var(--border-width));

      border: 0 solid transparent;
      border-bottom-width: var(--spacing-between-stages);

      &::after {
        position: absolute;
        top: calc(100% + var(--padding-between-stages) - var(--border-width));
        left: calc(50% - var(--arrow-size) / 2);
        display: block;
        box-sizing: content-box;
        width: var(--arrow-size);
        height: var(--arrow-size);
        font-size: var(--arrow-size);
        line-height: var(--arrow-size);
        text-align: center;
        content: "⯆";
      }

      &:not([disabled])::after {
        pointer-events: auto;
      }
    }
  }
}

.image-number {
  font-weight: bold;
  font-size: 0.8em;
  line-height: 0.8em;
  white-space: pre;
  text-align: center;
}
