& {
  --side-length: calc(var(--panel-width) - 2 * var(--padding));

  display: flex;
  flex: 0 0 var(--side-length);
  flex-direction: column;
  justify-content: space-evenly;
  width: calc(var(--panel-width) - 2 * var(--padding));
  height: 0;
  margin-right: auto;
  margin-left: auto;
  background: white;
}

.to-number-config label {
  display: block;
  padding: var(--box-padding);
  border: var(--border-width) none grey;
  border-bottom-style: solid;

  > input {
    float: right;
    width: 4em;
    color: inherit;
    background-color: inherit;
    border-style: none;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }

  &:first-child {
    border-top-style: solid;
  }
}

.image-pick {
  --outline-inset: 20px;

  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: calc(var(--outline-inset) + 0.5em);
  text-align: center;
  outline: 2px dashed #92b0b3;
  outline-offset: calc(0 - var(--outline-inset));
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;

  &.is-dragover {
    background-color: #fff;
    outline-color: #c8dadf;
    outline-offset: -20px;
  }

  .icon {
    width: 100%;
    height: 7em;
    margin-bottom: 2.5em;
    fill: #92b0b3;
  }

  input[type="file"] {
    position: absolute;
    z-index: -1;
    display: none;
    width: 0.1px;
    height: 0.1px;
    margin: 40px auto 0;
    padding: 8px 16px;
    overflow: hidden;
    color: #e5edf1;
    font-weight: 700;
    background-color: #39bfd3;
    opacity: 0;

    & + label {
      display: inline-block;
      max-width: 80%;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    & + label:hover strong,
    &:focus + label strong,
    &:focus + label,
    &:hover,
    &:focus {
      background-color: #0f3c4b;
    }
  }
}

@keyframes appear-from-inside {
  from {
    transform: translateY(-50%) scale(0);
  }

  75% {
    transform: translateY(-50%) scale(1.1);
  }

  to {
    transform: translateY(-50%) scale(1);
  }
}
